<footer class="footer">
  <p class="copyright">
    <span>&copy;</span>
    <span>designed and coded by Hamza belghazi</span>
  </p>
</footer>

<script src="https://js.stripe.com/v3/"></script>
<script src="/js/script.js"></script>
<script src="/js/bundle.js"></script>
