section#section-1.section
  .operations
    .operations__tab-container
      button.btn.operations__tab.operations__tab--1.operations__tab--active(data-tab='1')
        | Delivery across EU
      button.btn.operations__tab.operations__tab--2(data-tab='2')
        | Secured payment
      button.btn.operations__tab.operations__tab--3(data-tab='3')
        | Customer service
    .operations__content.operations__content--1.operations__content--active
      .operations__icon.operations__icon--1
        svg
          use(xlink:href='img/icons.svg#icon-upload')
      h5.operations__header Delivery across EU
      p
        | 4-10 days (frames and sunglasses) 6-12 days (prescription glasses)
    .operations__content.operations__content--2
      .operations__icon.operations__icon--2
        svg
          use(xlink:href='img/icons.svg#icon-home')
      h5.operations__header Secured payment
      p BankContact, Sofort, Credit card
    .operations__content.operations__content--3
      .operations__icon.operations__icon--3
        svg
          use(xlink:href='img/icons.svg#icon-user-x')
      h5.operations__header Customer service
      p Contact us on info@mhsOptics.be
if !user     
  section.section.join_today
    span.motivation
      | The best day to join mhsOptics was one year ago. The second best is
      | today!
    a.join(href='/register' style='color:white;text-decoration:none;')  open you account today 
footer.footer
  .footer_menu
    ul.footer-list
      li.list-item
        a(href='/frames') Prescription
      li.list-item
        a(href='/sunglasses') sunglasses
  .footer_menu
    ul.footer-list
      if pages
        each p in pages
          li.list-item
            a(href=`/page/${p.id}`)= p.name
  svg(width='219' height='50' viewbox='0 0 219 50' fill='none' xmlns='http://www.w3.org/2000/svg')
    path(fill-rule='evenodd' clip-rule='evenodd' d='M60 9H100C102.209 9 104 10.7366 104 12.8788V36.1515C104 38.2937 102.209 40.0303 100 40.0303H60C57.7909 40.0303 56 38.2937 56 36.1515V12.8788C56 10.7366 57.7909 9 60 9ZM102 12.8788C102 11.8077 101.105 10.9394 100 10.9394H60C58.8954 10.9394 58 11.8077 58 12.8788V36.1515C58 37.2226 58.8954 38.0909 60 38.0909H100C101.105 38.0909 102 37.2226 102 36.1515V12.8788Z' fill='#212B36')
    path(fill-rule='evenodd' clip-rule='evenodd' d='M86.35 27.1043C86.3561 25.6257 85.0986 24.9871 84.1227 24.4915C83.5049 24.1778 83 23.9214 83 23.5455C83 23.2255 83.32 22.8861 84 22.7988C84.8093 22.7212 85.6251 22.8586 86.36 23.1964L86.78 21.257C86.0636 20.9965 85.3051 20.8619 84.54 20.8594C82.18 20.8594 80.54 22.0812 80.54 23.8267C80.54 25.1164 81.73 25.834 82.63 26.2606C83.53 26.6873 83.88 26.9879 83.87 27.3758C83.87 27.977 83.13 28.2485 82.44 28.2582C81.5889 28.2688 80.749 28.0686 80 27.6764L79.57 29.6158C80.4175 29.9366 81.3203 30.0978 82.23 30.0909C84.74 30.0909 86.39 28.8885 86.4 27.0267L86.35 27.1043ZM79.86 21.0146L77.86 29.9843H75.46L77.46 21.0146H79.86ZM89.92 26.8327L91.18 23.4679L91.91 26.8327H89.92ZM94.81 30.0133H92.59L92.3 28.6752H89.29L88.8 30.0133H86.28L89.87 21.703C90.0355 21.3077 90.43 21.0476 90.87 21.0436H92.87L94.81 30.0133ZM72.61 29.9552L76.49 20.9855H73.89L71.4 27.0849L70.4 21.897C70.3115 21.3698 69.8408 20.9833 69.29 20.9855H65.22L65.16 21.2473C65.9763 21.4022 66.7693 21.6563 67.52 22.0037C67.8398 22.1494 68.0564 22.448 68.09 22.7891L70 29.9552H72.61Z' fill='#212B36')
    path(fill-rule='evenodd' clip-rule='evenodd' d='M117 8H157C159.209 8 161 9.79086 161 12V36C161 38.2091 159.209 40 157 40H117C114.791 40 113 38.2091 113 36V12C113 9.79086 114.791 8 117 8ZM159 12C159 10.8954 158.105 10 157 10H117C115.895 10 115 10.8954 115 12V36C115 37.1046 115.895 38 117 38H157C158.105 38 159 37.1046 159 36V12Z' fill='#212B36')
    g(opacity='0.01')
      rect(x='117.65' y='11.2' width='38.7' height='25.6' fill='#212B36')
    path(d='M135.22 33.46C130.757 35.7268 125.316 34.5653 122.167 30.6734C119.019 26.7816 119.019 21.2184 122.167 17.3266C125.316 13.4347 130.757 12.2733 135.22 14.54C132.486 16.9212 130.924 20.3744 130.94 24C130.947 27.6205 132.505 31.0645 135.22 33.46Z' fill='#212B36')
    path(fill-rule='evenodd' clip-rule='evenodd' d='M153.14 30.23V30.57H153.08V30.23H152.94V30.16H153.29V30.23H153.14ZM153.82 30.16V30.57H153.75V30.26L153.64 30.53H153.56L153.44 30.26V30.57H153.36V30.16H153.47L153.59 30.45L153.72 30.16H153.82Z' fill='#212B36')
    path(d='M154.16 24C154.16 27.6814 152.249 31.099 149.113 33.0277C145.978 34.9565 142.066 35.1201 138.78 33.46C143.789 29.0303 144.482 21.4655 140.36 16.2C139.884 15.5942 139.348 15.038 138.76 14.54C142.047 12.8642 145.969 13.0199 149.113 14.9511C152.257 16.8823 154.169 20.3105 154.16 24Z' fill='#212B36')
    path(d='M137 32.34C134.439 30.3306 132.943 27.2556 132.943 24C132.943 20.7444 134.439 17.6694 137 15.66C139.558 17.6716 141.051 20.7458 141.051 24C141.051 27.2542 139.558 30.3284 137 32.34Z' fill='#212B36')
    path(fill-rule='evenodd' clip-rule='evenodd' d='M4 9.70587H44C46.2091 9.70587 48 11.4441 48 13.5882V36.8823C48 39.0265 46.2091 40.7647 44 40.7647H4C1.79086 40.7647 0 39.0265 0 36.8823V13.5882C0 11.4441 1.79086 9.70587 4 9.70587ZM46 13.5882C46 12.5162 45.1046 11.6471 44 11.6471H4C2.89543 11.6471 2 12.5162 2 13.5882V36.8824C2 37.9544 2.89543 38.8235 4 38.8235H44C45.1046 38.8235 46 37.9544 46 36.8824V13.5882Z' fill='#212B36')
    path(d='M16.8138 26.3499L17.744 25.2133C17.8664 25.0638 17.8917 24.8572 17.809 24.6826C17.7262 24.508 17.5503 24.3966 17.3571 24.3966H6.54846C6.27232 24.3966 6.04846 24.6205 6.04846 24.8966V29.2664C6.04846 29.5425 6.27232 29.7664 6.54846 29.7664H26.7021C26.8506 29.7664 26.9913 29.7004 27.0863 29.5864L32.5355 23.0438C32.6597 22.8948 32.6864 22.6874 32.6041 22.5117C32.5218 22.336 32.3453 22.2238 32.1513 22.2238H25.7342C25.5893 22.2238 25.4515 22.2867 25.3566 22.3961L21.9255 26.3499H16.8138Z' fill='black' stroke='black' stroke-linejoin='round')
    path(d='M31.0865 23.2239L30.1455 24.3575C30.0217 24.5066 29.9952 24.7139 30.0776 24.8893C30.16 25.0648 30.3364 25.1768 30.5302 25.1768H41.3391C41.6152 25.1768 41.8391 24.953 41.8391 24.6768V20.3312C41.8391 20.0551 41.6152 19.8312 41.3391 19.8312H21.1627C21.0143 19.8312 20.8736 19.8972 20.7786 20.0112L15.3291 26.5538C15.205 26.7028 15.1783 26.9102 15.2606 27.0859C15.3429 27.2616 15.5193 27.3738 15.7133 27.3738H22.1536C22.299 27.3738 22.4372 27.3105 22.5322 27.2004L25.9632 23.2239H31.0865Z' fill='#F8E14B' stroke='black' stroke-linejoin='round')
    path(d='M16.8138 26.3499L17.744 25.2133C17.8664 25.0638 17.8917 24.8572 17.809 24.6826C17.7262 24.508 17.5503 24.3966 17.3571 24.3966H6.54846C6.27232 24.3966 6.04846 24.6205 6.04846 24.8966V29.2664C6.04846 29.5425 6.27232 29.7664 6.54846 29.7664H26.7021C26.8506 29.7664 26.9913 29.7004 27.0863 29.5864L32.5355 23.0438C32.6597 22.8948 32.6864 22.6874 32.6041 22.5117C32.5218 22.336 32.3453 22.2238 32.1513 22.2238H25.7342C25.5893 22.2238 25.4515 22.2867 25.3566 22.3961L21.9255 26.3499H16.8138Z' fill='black' stroke='black' stroke-linejoin='round')
    path(d='M31.0865 23.2239L30.1455 24.3575C30.0217 24.5066 29.9952 24.7139 30.0776 24.8893C30.16 25.0648 30.3364 25.1768 30.5302 25.1768H41.3391C41.6152 25.1768 41.8391 24.953 41.8391 24.6768V20.3312C41.8391 20.0551 41.6152 19.8312 41.3391 19.8312H21.1628C21.0143 19.8312 20.8736 19.8972 20.7786 20.0112L15.3291 26.5538C15.205 26.7028 15.1783 26.9102 15.2606 27.0859C15.3429 27.2616 15.5193 27.3738 15.7133 27.3738H22.1536C22.299 27.3738 22.4372 27.3105 22.5322 27.2004L25.9632 23.2239H31.0865Z' fill='#F8E14B' stroke='black' stroke-linejoin='round')
    path(d='M204.917 21.4733H204.573L203.966 22.9353H204.323C205.008 22.9353 205.368 22.6371 205.568 22.1541C205.781 21.6381 205.547 21.4733 204.917 21.4733V21.4733ZM199.192 21.5034C198.518 21.5034 197.96 22.177 197.531 23.2305C196.955 24.6424 197.171 24.9907 197.787 24.9907C198.419 24.9907 198.838 24.6338 199.418 23.2162C199.979 21.8373 199.834 21.5048 199.194 21.5034H199.192Z' fill='#303C42')
    path(d='M215.8 7.73334H174.2C172.435 7.73334 171 9.01904 171 10.6V36.4C171 37.981 172.435 39.2667 174.2 39.2667H215.8C217.565 39.2667 219 37.981 219 36.4V10.6C219 9.01904 217.565 7.73334 215.8 7.73334ZM183.566 24.1221C183.28 25.1942 182.605 25.7303 181.899 25.9983C181.195 26.2663 180.462 26.2663 180.061 26.2663H175.8L176.429 24.7183H180.411C180.73 24.7155 180.939 24.6983 181.083 24.6467C181.148 24.6243 181.206 24.5885 181.253 24.5421C181.299 24.4958 181.333 24.4403 181.35 24.3801C181.369 24.3336 181.377 24.2845 181.376 24.2353C181.376 24.1915 181.364 24.1484 181.342 24.1092C181.309 24.0547 181.259 24.01 181.198 23.9802C181.142 23.9506 181.081 23.9275 181.018 23.9114L180.626 23.8082L180.37 23.7422C180.163 23.6862 179.969 23.5984 179.797 23.4828C179.641 23.3812 179.512 23.2501 179.419 23.0987C179.351 22.9737 179.319 22.835 179.328 22.6959C179.334 22.5411 179.376 22.3619 179.453 22.1541C179.814 21.188 180.283 20.705 180.813 20.4628C181.344 20.222 181.938 20.222 182.547 20.222H186.416C185.784 20.575 185.24 21.0398 184.816 21.5879L184.765 21.6567H182.288C182.138 21.6526 181.99 21.6822 181.856 21.7427C181.803 21.7671 181.757 21.8008 181.719 21.8416C181.681 21.8825 181.652 21.9298 181.635 21.9807C181.62 22.026 181.616 22.0737 181.623 22.1207C181.63 22.1676 181.648 22.2127 181.675 22.253C181.737 22.3377 181.832 22.3986 181.941 22.4236L182.277 22.5096L182.501 22.5669C182.968 22.6873 183.288 22.8751 183.464 23.1316C183.64 23.3896 183.674 23.7193 183.566 24.1206V24.1221ZM186.125 26.3667H186.12C185.102 26.3667 184.603 25.9983 184.362 25.6901C183.938 25.1455 183.933 24.3184 184.347 23.2993C184.568 22.759 184.85 22.2774 185.179 21.8603C185.683 21.2196 186.304 20.7351 186.987 20.4456C187.459 20.2434 187.976 20.1377 188.499 20.136C189.302 20.136 189.88 20.3567 190.216 20.7881C190.776 21.5048 190.469 22.564 190.238 23.1316C189.362 25.2788 187.976 26.3667 186.125 26.3667ZM194.325 23.8985L192.512 23.897L191.549 26.2663H189.498L191.37 21.6567C191.758 20.7222 192.579 20.2234 193.682 20.2234H197.624C197.024 20.5502 196.382 21.0132 195.931 21.5879L195.88 21.6567H193.742C193.654 21.6532 193.567 21.6739 193.492 21.7162C193.417 21.7585 193.359 21.8203 193.325 21.8932L193.034 22.6271L194.842 22.6285L194.325 23.8985V23.8985ZM197.309 26.3667H197.306C196.288 26.3667 195.786 25.9983 195.546 25.6901C195.122 25.1455 195.117 24.3184 195.533 23.2993C195.752 22.759 196.034 22.2774 196.363 21.8603C196.869 21.2196 197.488 20.7351 198.171 20.4456C198.65 20.2449 199.158 20.136 199.683 20.136C200.486 20.136 201.064 20.3567 201.402 20.7881C201.958 21.5048 201.654 22.564 201.422 23.1316C200.547 25.2788 199.163 26.3667 197.309 26.3667ZM205.533 23.6892C205.638 23.8354 205.717 24.0103 205.792 24.1651C206.086 24.7714 206.485 26.2692 206.485 26.2692H204.291C204.291 26.2692 203.763 24.2296 203.72 24.1421L202.827 26.2692H200.741L203.197 20.2263H205.469C206.45 20.2263 207.077 20.4212 207.384 20.8182C207.638 21.145 207.651 21.5922 207.422 22.1426C207.051 23.0399 206.152 23.4828 205.534 23.6906L205.533 23.6892ZM213.616 21.661H211.213L209.339 26.2706H207.467L209.341 21.661H208.098C208.163 21.2715 208.063 20.874 207.818 20.5473C207.723 20.4255 207.61 20.318 207.477 20.2263H214.2L213.616 21.6596V21.661Z' fill='#303C42')
    path(d='M188.008 21.5034C187.334 21.5034 186.776 22.177 186.347 23.2305C185.771 24.6424 185.987 24.9907 186.603 24.9907C187.235 24.9907 187.654 24.6338 188.232 23.2162C188.795 21.8373 188.648 21.5048 188.008 21.5034Z' fill='#303C42')         
  .news_letter
    label(for='newsLetter') Subscribe to our News letter
    .input_wrapper
      input#newsLetter(type='text' name='newsLetter' placeholder='Email')
      button.send_news-letter Subscribe
  .copyright
    p.menu_title
      | &amp;copy 2021 all rights reserved 
      span mhsOptics
.spinnerLoad
  .loader Loading...