<!-- section error -->
<section class="error_section section">
  <img src="/assets/error.svg" alt="error" />
  <div class="error_message">
    <span class="warning">Oh something went wrong!</span>
    <p class="message"><%- msg %></p>
  </div>
</section>
