extends base



block content
  section.register
    form.register_form.form--login
      .container
        h1 Login
        p Please fill in this form to get your account.
        hr
        label(for='email')
          b Email
        input#email(type='text' placeholder='Enter Email' name='email' required='')
        label(for='psw')
          b Password
        input#password(type='password' placeholder='Enter Password' name='password' required='')
        button.loginBtn(type='submit') log in
      .container.signin
        p
          a.forggot_password_btn(href='#forggot_form') Forggot password?
          | .  
      .container.signin
        p
          | don&apos;t have an account? 
          a(href='/register') Sign Up
          | .
    form#forggot_form.register_form.forggot_password
       .container
        h1 forggot password
        p Please fill in this form to get verefication 
        hr
        label(for='email_forggot')
          b Email
        input#email_forggot(type='text' placeholder='Enter Email' name='email' required='')
        button.loginBtn(type='submit') send


