<div class="page_header">
  <div class="navigation">
    <a href="/">Home</a>
    <span class="siparetor">/</span>
    <div class="subtitle"><%= page.name %></div>
  </div>
</div>
<section class="page_section section">
  <h1 class="big__title"><%= page.name %></h1>
  <div class="page_body"><%- page.pageBody %></div>
</section>
