extends base



block content
  section.register
    form.register_form.password--form
      .container
        p Please fill in this form to set your password.
        hr
        label(for='password')
          b password
        input#password(type='password' placeholder='Enter password' name='password' required='')
        label(for='passwordConfirm')
          b Password Confirm
        input#passwordConfirm(type='password' placeholder='Enter PasswordConfirm' name='passwordConfirm' required='')
        button.loginBtn(type='submit') Save
      


