extends base

block content
  section.register
    form.register_form.form--register
      .container
        h1 Register
        p Please fill in this form to create an account.
        hr
        label(for='fName')
          b First Name
        input#fName(type='text' placeholder='Enter First name' name='fName' required='')
        label(for='lName')
          b Last Name
        input#LName(type='text' placeholder='Enter Last name' name='LName' required='')
        label(for='email')
          b Email
        input#email(type='text' placeholder='Enter Email' name='email' required='')
        label(for='psw')
          b Password
        input#psw(type='password' placeholder='Enter Password' name='psw' required='')
        label(for='psw-repeat')
          b Repeat Password
        input#psw-repeat(type='password' placeholder='Repeat Password' name='psw-repeat' required='')
        hr
        p
          | By creating an account you agree to our
          a(href='#') Terms &amp; Privacy
          | .
        button.registerbtn(type='submit') Register
      .container.signin
        p
          | Already have an account? 
          a(href='/login') Sign in
          | .



